
.fiber-stats-chart {
  position: relative;
  flex: 2;
  /*height: auto;*/
  /*max-width: 250px;*/
  width: 66%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fiber-stats-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fiber-stats-total {
  font-size: 32px;
  font-weight: bold;
  color: #222;
  line-height: 1.05;
}

.fiber-stats-unit {
  font-size: 14px;
  color: #888;
  margin-top: 0px;
  letter-spacing: 1px;
}

.fiber-stats-legend {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 1;
  width: 40%;
  overflow-y: auto;
  max-height: 100%;
  padding-right: 4px;
}

.fiber-stats-legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: #7A8CA4;
  padding: 4px 0;
}

.fiber-stats-legend-color {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  margin-right: 8px;
  display: inline-block;
  flex-shrink: 0;
}

.fiber-stats-legend-label {
  font-size: 16px;
  color: #7A8CA4;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fiber-stats-legend-left {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

@media (max-width: 1200px) {
  .fiber-stats-chart {
    max-width: none;
    flex: 2;
    width: 66.66%;
  }

  .fiber-stats-legend {
    width: 33.33%;
  }
}

@media (max-width: 800px) {
  .fiber-stats-chart {
    max-width: none;
    flex: 2;
    width: 66.66%;
  }

  .fiber-stats-legend {
    width: 33.33%;
  }

  .fiber-stats-total {
    font-size: 24px;
  }
  .fiber-stats-unit {
    font-size: 12px;
  }
}
