/* styles.css */

.main-body {
  display: flex;
  flex-direction: column;
  background-image: url('/home_bg.png');
  background-size: cover; /* 确保背景图片覆盖整个区域 */
  background-position: center; /* 背景图片居中显示 */
  background-repeat: no-repeat; /* 防止背景图片重复 */
  /*width: 100%;*/
  height: 100vh;
}

.main-header {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.dataLeft, .dataRight {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.dataCenter {
  width: 50%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-show {
  width: 100%;
  height: 65%;
  padding: 10px;
}

.gc-show {
  width: 100%;
  height: 30%;
  padding: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 24px;
  color: rgba(255,255,255,0.8);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-inline: 10px;
  padding: 10px;
  background: linear-gradient(to right, #2b52c9, #1b3582);
}

